{
  "plugins": [
   "@semantic-release/commit-analyzer",
   "@semantic-release/release-notes-generator",
   "@semantic-release/changelog",
   "@semantic-release/git"
   ],
  "branches": ["master", "next"],
  "type": "git",
  "url": "https://github.com/almerindo/rocketseat-gobarber"
}
